<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
  rel="stylesheet"
/>
<div id="footer">
  <div id="grupo">Desarrollado por @Grupo No. 1</div>
  <div id="bit">bit - Bogota institute of technology</div>
  <div id="redes">
    <a href="https://www.facebook.com/" target="_blank">
      <img src="../../../assets/img/facebook_footer.png" alt="facebook" />
    </a>
    <a href="https://www.twitter.com/" target="_blank">
      <img src="../../../assets/img/twitter_footer.png" alt="twitter" />
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <img src="../../../assets/img/instagram_footer.png" alt="instagram" />
    </a>
  </div>
</div>
