<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700&display=swap"
  rel="stylesheet"
/>
<div id="slider">
  <ul>
    <li><img src="../../../assets/img/slide2.png" alt="" /></li>
    <li><img src="../../../assets/img/Slide3.png" alt="" /></li>
    <li><img src="../../../assets/img/SlideHero.png" alt="" /></li>
  </ul>
  <div class="texto-encima">
    <h5 class="titulo3">EL MEJOR LUGAR PARA</h5>
    <h3 class="titulo2">ESCUCHAR MUSICA</h3>
    <h1 class="titulo1"><b>BIT-MUSIC</b></h1>

    <br />
    <br />
    <button class="youtube">
      <a
        class="botonyoutube"
        href="https://www.youtube.com/?gl=CO&hl=es-419"
        target="_blank"
        >YOUTUBE</a
      >
    </button>
  </div>
</div>
