<div id="contenedorGeneral">
  <div class="padre">
    <div class="tituloLista">
      <h3>LISTA DE <span>REPRODUCCIÓN</span></h3>
      <hr width="5%" align="left" color="#DF7FBD" />
    </div>
    <div class="listaDeReproduccion">
      <div class="canciones">
        <div><img src="./assets/img/album1.png" alt="" /></div>
        <div class="tituloCanciones">
          <h2>MÚSICA PARA TODOS LOS DÍAS</h2>
          <h5 class="verCanciones">VER CANCIONES</h5>
          <audio
            src="./assets/audio/Mon Laferte - Tu Falta De Querer.mp3"
            controls="controls"
            type="audio/mpeg"
            preload="preload"
          ></audio>
        </div>
      </div>
      <div class="canciones">
        <img src="./assets/img/album2.png" alt="" />
        <div class="tituloCanciones">
          <h2>MÚSICA PARA DORMIR</h2>
          <h5 class="verCanciones">VER CANCIONES</h5>
          <audio
            src="./assets/audio/Adele - Set Fire To The Rain.mp3"
            controls="controls"
            type="audio/mpeg"
            preload="preload"
          ></audio>
        </div>
      </div>
      <div class="canciones">
        <img src="./assets/img/album3.png" alt="" />
        <div class="tituloCanciones">
          <h2>MÚSICA PARA RUMBA</h2>
          <h5 class="verCanciones">VER CANCIONES</h5>
          <audio
            src="./assets/audio/Greeicy Juanes - Minifalda.mp3"
            controls="controls"
            type="audio/mpeg"
            preload="preload"
          ></audio>
        </div>
      </div>
    </div>
  </div>
  <div class="padreSidebar">
    <div class="">
      <!-- listaDeReproduccion -->
      <div class="">
        <!-- tituloLista -->
      </div>
      <div class=" canciones1 ">
        <h3>APRENDE <span>PROGRAMACIÓN</span></h3>
        <hr width="5%" color="#DF7FBD" />

        <!-- canciones -->
        <img src="../../../assets/img/logo.png" alt="" class="imgredonda" />

        <div class="tituloCanciones">
          <!--  -->
          <h2>
            <span>BIT</span> - BOGOTÁ INSTITUTE
            <br />
            OF TECHNOLOGY
          </h2>
          <br />

          <button id="ir">IR A BIT</button>
        </div>
      </div>
    </div>
  </div>
</div>
